<div class="header">
    <div class="left-header">
        <div class="name-tag"><app-name-tag [labelName]="label"></app-name-tag></div>
        <div class="image-tag"><app-img [img]="nameLogo" imgSize="small"></app-img></div>
    </div>
    <div class="middle-header">
      <div class="search"><app-input></app-input></div> 
    </div>
    <div class="right-header">
        <div><app-img [img]="profileLogo" imgSize="small"></app-img></div>
        <div><app-img [img]="cartLogo" imgSize="small"></app-img></div>
    </div>
</div>