 
 .container{
    display: inline-flex;
    background-color: blanchedalmond;
    justify-content: space-between;
    padding: 5px;
    div{
        margin: 5px;
    }
    .price-striked{
        font-size: medium;
        font-weight:lighter;
        text-decoration:line-through;
    
    }
    .price-discount{
        font-size: medium;
        font-weight: bolder;
    }
 }