.main {
  background-color: blueviolet;
  width: fit-content;
}

.topdiv {
  position: relative;
  border: 1px solid yellowgreen;
  background-color: palevioletred;
  left: 50px;
  top: 20px;
  width: 40px;
}

.dis {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 0px solid fuchsia;
  background-color: red;
  width: auto;
}