<div class="container">
    <div class="tile row">
        <div class="col-sm-4" align="center" style="width: 100%;">
            <app-img [img]="product.mainIcon" [imgSize]="'small'"></app-img>
        </div>
        <div class="col-sm-4" align="center" style="width: 100%;">
            <app-discription [desc1]="product.desc_p" [desc2]="product.desc_p2"></app-discription>
        </div>
        <div>
            <div class="col-sm-4  price" align="center" style="width: 100%;"><app-price [priceDiscounted]="product.priceDiscounted" [priceOriginal]="product.priceOriginal"></app-price></div>
        </div>
        <div class="col-sm-4 " style="border: yellowgreen 1px solid; width: 100%;" align="center">
            <div style="display: inline-flex;">
                <app-img  [img]="product.productImgOne"></app-img>
                <app-img  [img]="product.productImgTwo"></app-img>
                <app-img  [img]="product.productImgThr"></app-img>
            </div>
        </div>
    </div>
</div>