.container {
    background-color: blue;
    border: 1px solid firebrick;
    height: auto;
    width: fit-content;
    align-content: center;
    justify-content: center;
    

}
.tile{
 width:fit-content;
 background-color: orange;
 align-content: center;
 justify-content: center;
 display: block;
}
.row {
    /* width: 100%; */
}
.main-img {
    margin: 0 auto;
    background-color:rebeccapurple;
    border: 1px solid brown;
    height: 40%;
    /* width: 80%; */
    width:auto;
    align-items: center;
    justify-content: center;
    
}
.des{
    background-color:aquamarine;
    border: 1px solid hotpink;
    height: 20%;  
}
.price{
    background-color:tan;
    border: 1px solid teal;
    height: 20%;  
}
.img-tile{
    background-color:cornflowerblue;
    border: 1px solid red;
    height: 20%; 
}
