<div class="container">
    <div  class="row align-items-center">
        <div class="main-img" class="col-sm-4" align="center">
            <app-img [img]="product.mainIcon" [imgSize]="'small'"></app-img>
        </div>
    </div>

    <div class="row align-items-center">    
        <div class="des"  class="col-sm-4" align="center">
            <app-discription [desc1]="product.desc_p" [desc2]="product.desc_p2"></app-discription>
        </div>
    </div>

    <div class="row align-items-center">    
        <div class="des"  class="col-sm-4" align="center">
         <div class="price"><app-price [priceDiscounted]="product.priceDiscounted" [priceOriginal]="product.priceOriginal"></app-price></div>
        </div>
    </div>
    <div class="row align-items-center">   
        <div class="img-tile" class="col-sm-4" align="center">
            <div style="display: inline-flex;">
                <app-img  [img]="product.productImgOne"></app-img>
                <app-img  [img]="product.productImgTwo"></app-img>
                <app-img  [img]="product.productImgThr"></app-img>
            </div>
            
        </div>
    </div>
</div>
