.container{
    border: solid 1px black;
    background-color: aqua;
    justify-content: center;
}
.price-tag{
    display: inline;
    border: 1px solid firebrick;
}

.imgs{
    display: inline-flex;
}