.img {
    text-align: center;
    /* border:solid 3px green; */
    justify-content: center;
    align-items: center;

    display: table-cell;
    vertical-align: middle;
    img {
        width: 50%;
        height: 50%;
    
    }
    .label {
        background-color: black;
        color: white;
        width: 100%;
        /* flex-direction: column; */

    }
}

.img-small {
    height: 64px;
    width: 64px;
}
.img-medium {
    height: 128px;
    width: 128px;
}
.img-large {
    height: 256px;
    width: 256px;
}