.img-small {
    height: 64px;
    width: 64px;
}
.img-medium {
    height: 128px;
    width: 128px;
}
.img-large {
    height: 256px;
    width: 256px;
}

.img-container {
    display: table;
    .centre-align {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        .img {
            /* background-color: red; */
            display: inline-block;
            vertical-align: top; /* Removes the extra white space below the baseline */

            width: 100%;
            img {
                width: 50%;
                height: 50%;
            }
        }
        .label {
            background-color:black;
            color: white;
            white-space: nowrap;
        }
    }
}

