<div style="background-color: aqua; height: 200px;">
  {{cat.labelName }}
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col">
                <app-name-tag [labelName]="cat[0].labelName"></app-name-tag>
                <app-discription [desc1]="cat[0].desc" [desc2]="cat[0].desc1"></app-discription>
                <app-name-tag [labelName]="cat[0].highlight"></app-name-tag>
              </div>
              <div class="col">
                <app-img [img]="cat[0].icon"></app-img>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col">
                <app-name-tag [labelName]="cat[1].labelName"></app-name-tag>
                <app-discription [desc1]="cat[1].desc" [desc2]="cat[1].desc1"></app-discription>
                <app-name-tag [labelName]="cat[1].highlight"></app-name-tag>
              </div>
              <div class="col">
               <app-img [img]="cat[1].icon"></app-img>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col">
                <app-name-tag [labelName]="cat[2].labelName"></app-name-tag>
                <app-discription [desc1]="cat[2].desc" [desc2]="cat[2].desc1"></app-discription>
                <app-name-tag [labelName]="cat[2].highlight"></app-name-tag>
              </div>
              <div class="col">
               <app-img class="d-block w-100" [img]="cat[2].icon"></app-img>
              </div>
            </div>
          </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>