<div style="background-color: rgba(90, 170, 146, 0.84); border-radius: 5px; height: 100%;">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="height: 100%;">
    <div class="carousel-indicators">
      <div *ngFor="let catx of cat; index as index">
        <button type="button" data-bs-target="#carouselExampleCaptions" [attr.data-bs-slide-to]="index"
          [attr.class]="index === 0 ? 'active':''" [attr.aria-current]="index === 0 ? true: false"></button>
      </div>
    </div>
    <div class="carousel-inner" style="height: 100%;">
      <div *ngFor="let catx of cat" class="carousel-item active" style="height: 100%;">
        <div class="row" style="height: 100%;">
          <div class="col" style="height: 100%;background-color: aqua;">
            <app-name-tag [labelName]="catx.labelName"></app-name-tag>
            <app-discription [desc1]="catx.desc" [desc2]="catx.desc1"></app-discription>
            <app-name-tag [labelName]="catx.highlight"></app-name-tag>
          </div>
          <div class="col" style="height: 100%;background-color: blueviolet;">
            <app-img [img]="catx.icon" [imgSize]="'large'"></app-img>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>