<div>
    <div class="label-row d-flex justify-content-between ">
        <div>
          <app-name-tag [labelName]="releated"></app-name-tag>
        </div>
        <div>
          <app-name-tag [labelName]="viewTo"></app-name-tag>
        </div>
    </div>
    <div class="label-row d-flex">
        <div>
           <app-display-img></app-display-img>
        </div>
        <div class="label-row d-flex">
            <div *ngFor="let prod of products" class="col-sm-4">
              <app-img [img]="prod"></app-img>  
            </div>
        </div>

    </div>
    
</div>
